@charset "UTF-8";
.header::after, .footer .footer-wrapper form::after {
  clear: both;
  content: '';
  display: table; }

.active {
  height: auto;
  overflow: auto; }

.no-wr {
  white-space: nowrap; }
  @media only screen and (max-width: 991px) {
    .no-wr {
      white-space: normal; } }

.float-r {
  float: right; }

.float-l {
  float: left; }

* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0; }

body {
  font-family: "Roboto", Arial, sans-serif; }

button {
  border: 0;
  padding: 0; }

ul {
  margin: 0;
  padding-left: 0; }

li {
  list-style-type: none; }

a {
  color: #a9916a;
  font-size: 1.0625rem;
  font-weight: 500;
  text-decoration: none; }
  @media only screen and (max-width: 1289px) {
    a {
      font-size: 1rem; } }
  @media only screen and (max-width: 1199px) {
    a {
      font-size: .9rem; } }
  a:hover {
    border-bottom: 2px #a9916a solid;
    padding-bottom: 2px; }

p {
  line-height: 1.6; }

fieldset {
  border: 0;
  float: left;
  margin-right: 2.5em;
  padding: 0 0 0 1em; }
  @media only screen and (max-width: 767px) {
    fieldset {
      float: none;
      margin: 0;
      padding-left: 0;
      text-align: center; } }
  @media only screen and (max-width: 991px) {
    fieldset {
      margin-right: 1em; } }
  @media only screen and (max-width: 1199px) {
    fieldset {
      margin-right: 2em;
      padding-left: .5em; } }

label {
  color: #596952;
  display: block;
  font-size: 1.0625rem;
  position: relative;
  text-align: left; }

textarea {
  display: block;
  margin-bottom: 2.8125em;
  padding-top: 1em; }

input {
  display: block;
  height: 45px;
  margin-bottom: 1.375em; }

input,
textarea {
  background-color: #f7f7ed;
  border: 1px solid #596952;
  border-radius: 4px;
  font-size: 1rem;
  margin-top: .41176em;
  outline: none;
  padding-left: 1.125em;
  width: 382px; }
  @media only screen and (max-width: 480px) {
    input,
    textarea {
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    input,
    textarea {
      margin: 0;
      width: 382px; } }
  @media only screen and (max-width: 991px) {
    input,
    textarea {
      width: 250px; } }
  @media only screen and (max-width: 1199px) {
    input,
    textarea {
      width: 350px; } }
  input:focus,
  textarea:focus {
    box-shadow: inset 1px 2px 3px rgba(10, 13, 18, 0.3); }

img {
  vertical-align: middle;
  width: 100%; }

.headline {
  background-color: #fbfcf5;
  color: #596952;
  font-family: "m-webfont";
  font-size: 4.75rem;
  line-height: 1;
  margin: 0 auto;
  padding: .75em 0 .57894em;
  position: relative;
  text-align: center; }
  @media only screen and (max-width: 450px) {
    .headline {
      font-size: 1.75rem; } }
  @media only screen and (max-width: 991px) {
    .headline {
      font-size: 3.75rem;
      padding-left: .01em;
      padding-right: .01em; } }

@font-face {
  font-display: swap;
  font-family: "m-webfont";
  src: url("../fonts/m-webfont.eot?") format("eot"), url("../fonts/m-webfont.woff2") format("woff2"), url("../fonts/m-webfont.woff") format("woff"), url("../fonts/m-webfont.ttf") format("truetype"), url("../fonts/m-webfont.svg#m-webfont") format("svg"); }
.header {
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.34);
  display: flex;
  height: 130px;
  padding: 0 .625em;
  position: relative;
  transition: height .5s ease-out;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .header {
      display: block;
      overflow: hidden;
      text-align: center; } }
  .header .basic-btn {
    background: #596952;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.0625rem;
    line-height: 1;
    padding: 0.8235em 2.9375em;
    text-align: center;
    transform: translateZ(0);
    transition: transform .3s linear; }
    .header .basic-btn::before {
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      content: '';
      height: 10px;
      left: 5%;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      transition: transform .3s, opacity .3s;
      width: 90%;
      z-index: -1; }
    .header .basic-btn:hover, .header .basic-btn:focus, .header .basic-btn:active {
      border: 0;
      transform: translateY(-5px); }
      .header .basic-btn:hover::before, .header .basic-btn:focus::before, .header .basic-btn:active::before {
        opacity: 1;
        transform: translateY(5px); }
    @media only screen and (max-width: 767px) {
      .header .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 1199px) {
      .header .basic-btn {
        font-size: .9rem; } }
    @media only screen and (max-width: 1289px) {
      .header .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 767px) {
      .header .basic-btn {
        background: #596952;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 1.0625rem;
        line-height: 1;
        padding: 0.8235em 2.9375em;
        text-align: center;
        transform: translateZ(0);
        transition: transform .3s linear;
        margin: 2em 0; }
        .header .basic-btn::before {
          background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
          content: '';
          height: 10px;
          left: 5%;
          opacity: 0;
          pointer-events: none;
          position: absolute;
          top: 100%;
          transition: transform .3s, opacity .3s;
          width: 90%;
          z-index: -1; }
        .header .basic-btn:hover, .header .basic-btn:focus, .header .basic-btn:active {
          border: 0;
          transform: translateY(-5px); }
          .header .basic-btn:hover::before, .header .basic-btn:focus::before, .header .basic-btn:active::before {
            opacity: 1;
            transform: translateY(5px); } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    .header .basic-btn {
      font-size: 1rem; } }
  @media only screen and (max-width: 767px) and (max-width: 1199px) {
    .header .basic-btn {
      font-size: .9rem; } }
  @media only screen and (max-width: 767px) and (max-width: 1289px) {
    .header .basic-btn {
      font-size: 1rem; } }

    @media only screen and (max-width: 1199px) {
      .header .basic-btn {
        background: #596952;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 1.0625rem;
        line-height: 1;
        padding: 0.6235em 1.9375em;
        text-align: center;
        transform: translateZ(0);
        transition: transform .3s linear; }
        .header .basic-btn::before {
          background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
          content: '';
          height: 10px;
          left: 5%;
          opacity: 0;
          pointer-events: none;
          position: absolute;
          top: 100%;
          transition: transform .3s, opacity .3s;
          width: 90%;
          z-index: -1; }
        .header .basic-btn:hover, .header .basic-btn:focus, .header .basic-btn:active {
          border: 0;
          transform: translateY(-5px); }
          .header .basic-btn:hover::before, .header .basic-btn:focus::before, .header .basic-btn:active::before {
            opacity: 1;
            transform: translateY(5px); } }
  @media only screen and (max-width: 1199px) and (max-width: 767px) {
    .header .basic-btn {
      font-size: 1rem; } }
  @media only screen and (max-width: 1199px) and (max-width: 1199px) {
    .header .basic-btn {
      font-size: .9rem; } }
  @media only screen and (max-width: 1199px) and (max-width: 1289px) {
    .header .basic-btn {
      font-size: 1rem; } }

  @media only screen and (max-width: 767px) {
    .header .logo {
      margin: 2em 0; } }

.doodle-item {
  color: #232323;
  overflow: hidden;
  position: relative; }

.doodle-item__header {
  color: #fff;
  font-family: m-webfont;
  font-size: 1.6875rem;
  line-height: 1.9em;
  margin-bottom: 1.5em; }
  @media only screen and (max-width: 767px) {
    .doodle-item__header {
      font-size: 1.4875rem;
      text-align: center; } }
  @media only screen and (max-width: 991px) {
    .doodle-item__header {
      font-size: 1.2875rem; } }
  @media only screen and (max-width: 1199px) {
    .doodle-item__header {
      font-size: 1.3875rem; } }
  @media only screen and (max-width: 1289px) {
    .doodle-item__header {
      font-size: 1.5875rem; } }

.doodle-item__container {
  position: relative;
  transition: transform 500ms ease-in; }
  .doodle-item__container .full {
    min-height: 100%;
    transition: min-height .25s ease-in; }
  .doodle-item__container.clicked {
    transform: translateX(-100%);
    transition: transform 500ms ease-out; }
  .doodle-item__container:nth-child(2) {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 500ms ease-out;
    width: 100%;
    z-index: 0; }
  .doodle-item__container.clicked-two {
    transform: translateX(0);
    transition: transform 500ms ease-out; }

.doodle-item__wrapper {
  display: flex;
  overflow: hidden;
  padding: 3.625em 2.5em 10.9375em;
  position: relative; }
  @media only screen and (max-width: 767px) {
    .doodle-item__wrapper {
      flex-direction: column;
      padding: 0 1em; } }

.doodle-item__description {
  flex: 1 1 50%; }
  @media only screen and (max-width: 767px) {
    .doodle-item__description {
      text-align: center;
      width: 100%; } }
  .doodle-item__description.hideme {
    opacity: 0;
    position: relative;
    right: 100%; }
  .doodle-item__description li {
    margin-bottom: 15px; }
    @media only screen and (max-width: 767px) {
      .doodle-item__description li {
        font-size: 1rem;
        text-align: left; } }
    @media only screen and (max-width: 991px) {
      .doodle-item__description li {
        font-size: .8rem; } }
    @media only screen and (max-width: 1199px) {
      .doodle-item__description li {
        font-size: .9rem;
        line-height: 1.6em; } }
    .doodle-item__description li:last-child {
      margin-bottom: 0; }
  @media only screen and (max-width: 767px) {
    .doodle-item__description p {
      font-size: .9rem;
      text-align: left; } }
  @media only screen and (max-width: 991px) {
    .doodle-item__description p {
      font-size: .8rem; } }
  @media only screen and (max-width: 1199px) {
    .doodle-item__description p {
      font-size: .9rem;
      line-height: 1.6em; } }

.doodle-item__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media only screen and (max-width: 767px) {
    .doodle-item__slider {
      flex-basis: 50%;
      height: 750px;
      overflow-y: scroll;
      padding: 2em 0;
      text-align: center; } }
  @media only screen and (max-width: 991px) {
    .doodle-item__slider {
      flex-basis: 25%; } }
  .doodle-item__slider .preview {
    flex: 0 1 23%;
    margin: .5em;
    transform: scale(1);
    transition: transform .2s ease-in; }
    .doodle-item__slider .preview:hover {
      border-bottom: 0;
      padding-bottom: 0;
      transform: scale(1.08); }

.doodle-item__images {
  align-items: center;
  display: flex;
  flex: 1 1 50%;
  justify-content: center; }
  @media only screen and (max-width: 767px) {
    .doodle-item__images {
      margin: 2em 0; } }
  .doodle-item__images.hideme {
    left: 100%;
    position: relative; }

.doodle-item--visual-doodle {
  background-color: #e4b7e5;
  background-image: linear-gradient(40deg, #e4b7e5 15%, #c376c4 85%); }
  .doodle-item--visual-doodle .basic-btn {
    margin-top: 5.294em;
    background: #c65ac4;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.0625rem;
    line-height: 1;
    padding: 0.8235em 2.9375em;
    text-align: center;
    transform: translateZ(0);
    transition: transform .3s linear; }
    .doodle-item--visual-doodle .basic-btn::before {
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      content: '';
      height: 10px;
      left: 5%;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      transition: transform .3s, opacity .3s;
      width: 90%;
      z-index: -1; }
    .doodle-item--visual-doodle .basic-btn:hover, .doodle-item--visual-doodle .basic-btn:focus, .doodle-item--visual-doodle .basic-btn:active {
      border: 0;
      transform: translateY(-5px); }
      .doodle-item--visual-doodle .basic-btn:hover::before, .doodle-item--visual-doodle .basic-btn:focus::before, .doodle-item--visual-doodle .basic-btn:active::before {
        opacity: 1;
        transform: translateY(5px); }
    @media only screen and (max-width: 767px) {
      .doodle-item--visual-doodle .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 1199px) {
      .doodle-item--visual-doodle .basic-btn {
        font-size: .9rem; } }
    @media only screen and (max-width: 1289px) {
      .doodle-item--visual-doodle .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 767px) {
      .doodle-item--visual-doodle .basic-btn {
        margin-top: 2.294em; } }
  .doodle-item--visual-doodle .doodle-item__ribbon {
    background-color: #c376c4; }

.doodle-item--ok-doodle {
  background-color: #fba9b4;
  background-image: linear-gradient(40deg, #fba9b4 0%, #f77f89 100%); }
  .doodle-item--ok-doodle .basic-btn {
    margin-top: 5.294em;
    background: #f9334a;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.0625rem;
    line-height: 1;
    padding: 0.8235em 2.9375em;
    text-align: center;
    transform: translateZ(0);
    transition: transform .3s linear; }
    .doodle-item--ok-doodle .basic-btn::before {
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      content: '';
      height: 10px;
      left: 5%;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      transition: transform .3s, opacity .3s;
      width: 90%;
      z-index: -1; }
    .doodle-item--ok-doodle .basic-btn:hover, .doodle-item--ok-doodle .basic-btn:focus, .doodle-item--ok-doodle .basic-btn:active {
      border: 0;
      transform: translateY(-5px); }
      .doodle-item--ok-doodle .basic-btn:hover::before, .doodle-item--ok-doodle .basic-btn:focus::before, .doodle-item--ok-doodle .basic-btn:active::before {
        opacity: 1;
        transform: translateY(5px); }
    @media only screen and (max-width: 767px) {
      .doodle-item--ok-doodle .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 1199px) {
      .doodle-item--ok-doodle .basic-btn {
        font-size: .9rem; } }
    @media only screen and (max-width: 1289px) {
      .doodle-item--ok-doodle .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 767px) {
      .doodle-item--ok-doodle .basic-btn {
        margin-top: 2.294em; } }
  .doodle-item--ok-doodle .doodle-item__ribbon {
    background-color: #f6616f; }

.doodle-item--simple-step {
  background-color: #cae7a6;
  background-image: linear-gradient(40deg, #cae7a6 0%, #a1cb7b 100%); }
  .doodle-item--simple-step .basic-btn {
    margin-top: 5.294em;
    background: #6fc72a;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.0625rem;
    line-height: 1;
    padding: 0.8235em 2.9375em;
    text-align: center;
    transform: translateZ(0);
    transition: transform .3s linear; }
    .doodle-item--simple-step .basic-btn::before {
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      content: '';
      height: 10px;
      left: 5%;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      transition: transform .3s, opacity .3s;
      width: 90%;
      z-index: -1; }
    .doodle-item--simple-step .basic-btn:hover, .doodle-item--simple-step .basic-btn:focus, .doodle-item--simple-step .basic-btn:active {
      border: 0;
      transform: translateY(-5px); }
      .doodle-item--simple-step .basic-btn:hover::before, .doodle-item--simple-step .basic-btn:focus::before, .doodle-item--simple-step .basic-btn:active::before {
        opacity: 1;
        transform: translateY(5px); }
    @media only screen and (max-width: 767px) {
      .doodle-item--simple-step .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 1199px) {
      .doodle-item--simple-step .basic-btn {
        font-size: .9rem; } }
    @media only screen and (max-width: 1289px) {
      .doodle-item--simple-step .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 767px) {
      .doodle-item--simple-step .basic-btn {
        margin-top: 2.294em; } }
  .doodle-item--simple-step .doodle-item__ribbon {
    background-color: #90c05f; }

.doodle-others-projects {
  padding: 4.375em 0;
  text-align: center; }
  @media only screen and (max-width: 991px) {
    .doodle-others-projects {
      padding: 2.375em 0; } }
  .doodle-others-projects h3 {
    color: #596952;
    font: 400 1.25rem "m-webfont";
    margin-bottom: 2.1em;
    margin-top: 0;
    text-align: center; }
    @media only screen and (max-width: 991px) {
      .doodle-others-projects h3 {
        font-size: 1rem; } }
  .doodle-others-projects a {
    margin-right: 2.01em; }
    @media only screen and (max-width: 767px) {
      .doodle-others-projects a {
        margin-right: 0; } }
    .doodle-others-projects a:last-child {
      margin-right: 0; }
    .doodle-others-projects a img {
      width: 30%; }
      @media only screen and (max-width: 767px) {
        .doodle-others-projects a img {
          margin-bottom: 2em;
          width: 80%; } }

.footer {
  background: #b24fc3;
  background: rgba(178, 79, 195, 0.5) url("../images/footer-bg.jpg") no-repeat;
  background-size: cover; }
  .footer .footer-wrapper {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5); }
    .footer .footer-wrapper .footer-wrapper-content {
      overflow: hidden;
      padding-bottom: 8.5em;
      text-align: center; }
      .footer .footer-wrapper .footer-wrapper-content h3 {
        color: #3b3b3e;
        font-family: "m-webfont";
        font-size: 1.25rem;
        margin: 3.55em 0 3.4em;
        text-align: center; }
    .footer .footer-wrapper form {
      display: inline-block;
      text-align: left; }
  @media only screen and (max-width: 480px) {
    .footer .field-block {
      display: block;
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .footer .field-block {
      display: inline-block;
      margin-top: 1em; } }
  .footer .basic-btn {
    background: #92278f;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 15px;
    line-height: 1;
    padding: 0.8235em 1.3125em;
    text-align: center;
    transform: translateZ(0);
    transition: transform .3s linear; }
    .footer .basic-btn::before {
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
      content: '';
      height: 10px;
      left: 5%;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      transition: transform .3s, opacity .3s;
      width: 90%;
      z-index: -1; }
    .footer .basic-btn:hover, .footer .basic-btn:focus, .footer .basic-btn:active {
      border: 0;
      transform: translateY(-5px); }
      .footer .basic-btn:hover::before, .footer .basic-btn:focus::before, .footer .basic-btn:active::before {
        opacity: 1;
        transform: translateY(5px); }
    @media only screen and (max-width: 767px) {
      .footer .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 1199px) {
      .footer .basic-btn {
        font-size: .9rem; } }
    @media only screen and (max-width: 1289px) {
      .footer .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 767px) {
      .footer .basic-btn {
        margin-top: 2.5em; } }

.container {
  margin: 0 auto;
  max-width: 1370px;
  min-width: 320px;
  width: 100%; }
  header .container {
    align-items: center;
    display: flex; }
    @media only screen and (max-width: 767px) {
      header .container {
        flex-direction: column; } }

.doodle-item__ribbon {
  border: 0;
  bottom: 55px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.1rem;
  height: 59px;
  padding: 0 1.2em;
  position: absolute;
  right: 0;
  text-transform: uppercase; }
  @media only screen and (max-width: 767px) {
    .doodle-item__ribbon {
      margin: 55px auto 0;
      position: relative;
      text-align: center; } }

.clicked-ribbon .doodle-item__ribbon {
  left: 0; }

.logo {
  width: 104px; }

nav {
  padding: 0 .3125em; }
  @media only screen and (max-width: 1199px) {
    nav {
      padding: 0; } }
  nav li {
    display: inline-block;
    margin-right: 1.625em; }
    @media only screen and (max-width: 767px) {
      nav li {
        display: block;
        line-height: 2.5em;
        margin-right: 0; } }
    @media only screen and (max-width: 1199px) {
      nav li {
        margin-right: 1.2em; } }
    @media only screen and (max-width: 767px) {
      nav li a {
        display: block;
        font-size: 1.0625rem;
        text-transform: uppercase; } }

.doodle-slider {
  background-color: #fbfcf5;
  overflow: hidden; }
  @media only screen and (max-width: 767px) {
    .doodle-slider {
      display: none; } }
  .doodle-slider .doodle-slider-wrapper {
    margin: 0 auto;
    max-width: 1366px;
    overflow: hidden; }
  .doodle-slider .slick-list {
    z-index: 0; }
  .doodle-slider .slick-next,
  .doodle-slider .slick-prev {
    background-color: #ebebeb;
    height: 50px;
    transition: background-color .2s ease-in;
    width: 50px;
    z-index: 1; }
    .doodle-slider .slick-next:focus,
    .doodle-slider .slick-prev:focus {
      background-color: #ebebeb;
      outline-style: auto; }
    .doodle-slider .slick-next:hover,
    .doodle-slider .slick-prev:hover {
      background-color: #000; }
      .doodle-slider .slick-next:hover::before,
      .doodle-slider .slick-prev:hover::before {
        border-color: #ebebeb; }
  .doodle-slider .slick-next {
    right: 0; }
    .doodle-slider .slick-next::before {
      border-right: 4px solid #000;
      border-top: 4px solid #000;
      content: '';
      display: block;
      height: 50%;
      transform: rotate(45deg);
      transition: border-right border-left .2s ease-in;
      width: 50%; }
  .doodle-slider .slick-prev {
    left: 0; }
    .doodle-slider .slick-prev::before {
      border-left: 4px solid #000;
      border-top: 4px solid #000;
      content: '';
      display: block;
      height: 50%;
      transform: rotate(-45deg) translate(50%, 50%);
      transition: border-right border-left .2s ease-in;
      width: 50%; }

.doodle-quote {
  align-items: center;
  color: #596952;
  display: flex;
  font-family: m-webfont;
  font-size: 1.25rem;
  height: 180px;
  justify-content: center;
  line-height: 2.2em;
  margin: 0; }
  @media only screen and (max-width: 991px) {
    .doodle-quote {
      font-size: 1rem;
      height: auto; }
      .doodle-quote::after {
        content: '';
        display: block; } }
  .doodle-quote blockquote {
    text-align: center;
    width: 70%; }
    @media only screen and (max-width: 1199px) {
      .doodle-quote blockquote {
        width: 90%; } }

.doodle-item__ribbon {
  border: 0;
  bottom: 55px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.1rem;
  height: 59px;
  padding: 0 1.2em;
  position: absolute;
  right: 0;
  text-transform: uppercase; }
  @media only screen and (max-width: 767px) {
    .doodle-item__ribbon {
      margin: 55px auto 0;
      position: relative;
      text-align: center; } }

.clicked-ribbon .doodle-item__ribbon {
  left: 0; }

.triangle {
  border-bottom: 12px solid transparent;
  border-left: 12px solid #fff;
  border-top: 12px solid transparent;
  display: inline-block;
  height: 0;
  margin-bottom: -6px;
  margin-right: 5px;
  opacity: .45;
  transform: rotate(0deg);
  transition: transform 500ms ease-in;
  width: 0; }
  .triangle.rotate {
    transform: rotate(180deg);
    transition: transform 500ms ease-out; }
  .triangle:nth-child(1) {
    margin-left: 20px; }

.telephones {
  color: #596952;
  font-size: 1.25rem;
  margin-right: 2.5em; }
  @media only screen and (max-width: 767px) {
    .telephones {
      margin-bottom: 2em;
      margin-right: 0; } }
  @media only screen and (max-width: 1199px) {
    .telephones {
      font-size: 1rem;
      margin-right: 1.5rem; } }
  @media only screen and (max-width: 1289px) {
    .telephones {
      font-size: 1.1rem;
      margin-right: 2em; } }
  header .telephones {
    margin-left: auto; }
    @media only screen and (max-width: 767px) {
      header .telephones {
        margin-left: 0; } }
  .telephones div {
    display: inline-block;
    line-height: 1.5em;
    margin-top: -.25em;
    vertical-align: middle; }
    @media only screen and (max-width: 767px) {
      .telephones div {
        display: block; } }
    @media only screen and (max-width: 991px) {
      .telephones div {
        display: none; } }
    @media only screen and (max-width: 1289px) {
      .telephones div {
        margin-top: 0; } }

.telephones-item {
  margin: auto .75em; }
  @media only screen and (max-width: 1199px) {
    .telephones-item {
      margin: auto .5em; } }

.hamburger-btn {
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: none;
  box-shadow: none;
  cursor: pointer;
  display: none;
  font-size: 0;
  height: 45px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  top: 45px;
  transition: background .3s;
  width: 45px; }
  @media only screen and (max-width: 767px) {
    .hamburger-btn {
      align-self: left;
      display: block; } }
  .hamburger-btn:focus {
    outline: none; }
  .hamburger-btn span {
    background: #a9916a;
    display: block;
    height: 4px;
    left: 5px;
    position: absolute;
    right: 5px;
    top: 20px;
    transition: background 0s .3s; }
    .hamburger-btn span::before, .hamburger-btn span::after {
      background-color: #a9916a;
      content: '';
      display: block;
      height: 4px;
      left: 0;
      position: absolute;
      transition-delay: .3s, 0s;
      transition-duration: .3s, .3s;
      width: 100%; }
    .hamburger-btn span::before {
      top: -10px;
      transition-property: top, transform; }
    .hamburger-btn span::after {
      bottom: -10px;
      transition-property: bottom, transform; }

.is-active span {
  background: none; }
  .is-active span::after, .is-active span::before {
    transition-delay: 0s, .3s; }
  .is-active span::before {
    top: 0;
    transform: rotate(45deg); }
  .is-active span::after {
    bottom: 0;
    transform: rotate(-45deg); }

.svg-element {
  position: absolute;
  right: 150px;
  top: -45px;
  transform: scale(0.5) rotate(180deg); }
  @media only screen and (max-width: 360px) {
    .svg-element {
      right: 20px; } }
  @media only screen and (max-width: 767px) {
    .svg-element {
      top: -70px;
      width: 20px; } }
  @media only screen and (max-width: 1199px) {
    .svg-element {
      right: 105px; } }

.svg-element2 {
  left: 200px;
  position: absolute;
  top: 109px; }
  @media only screen and (max-width: 360px) {
    .svg-element2 {
      top: 68px; } }
  @media only screen and (max-width: 767px) {
    .svg-element2 {
      display: block;
      width: 50px; } }
  @media only screen and (max-width: 991px) {
    .svg-element2 {
      display: none; } }
  @media only screen and (max-width: 1199px) {
    .svg-element2 {
      left: 155px; } }

.svg-element3 {
  position: absolute;
  right: 50px; }
  @media only screen and (max-width: 360px) {
    .svg-element3 {
      top: 65px; } }
  @media only screen and (max-width: 767px) {
    .svg-element3 {
      right: 15px;
      width: 40px; } }
  @media only screen and (max-width: 1199px) {
    .svg-element3 {
      right: 5px; } }

.svg-element4 {
  left: 150px;
  position: absolute;
  top: -13px;
  transform: rotate(180deg); }
  @media only screen and (max-width: 767px) {
    .svg-element4 {
      left: 0;
      top: -9px;
      width: 50px; } }
  @media only screen and (max-width: 1199px) {
    .svg-element4 {
      left: 105px; } }

.svg-element5 {
  left: 50px;
  position: absolute; }
  @media only screen and (max-width: 360px) {
    .svg-element5 {
      top: 65px; } }
  @media only screen and (max-width: 767px) {
    .svg-element5 {
      width: 40px; } }
  @media only screen and (max-width: 1199px) {
    .svg-element5 {
      left: 5px; } }

.svg-element6 {
  position: absolute;
  right: 200px;
  top: 106px;
  transform: rotate(50deg); }
  @media only screen and (max-width: 991px) {
    .svg-element6 {
      display: none; } }
  @media only screen and (max-width: 1199px) {
    .svg-element6 {
      right: 155px; } }

.loaded .st0 {
  animation: dash 5s linear forwards; }
  .loaded .st0.is-filled {
    fill: #3b3b3e; }

@keyframes dash {
  100% {
    stroke-dashoffset: 0; } }
.contacts {
  color: #232323;
  display: inline-block;
  font-size: 1.325rem;
  margin-left: 3.2857em;
  margin-right: .9em;
  position: relative;
  top: -87px; }
  @media only screen and (max-width: 480px) {
    .contacts {
      display: block; } }
  @media only screen and (max-width: 767px) {
    .contacts {
      margin: 0;
      padding-top: 1em;
      top: 0; } }
  @media only screen and (max-width: 991px) {
    .contacts {
      font-size: 1rem; } }
  @media only screen and (max-width: 1199px) {
    .contacts {
      font-size: 1.125rem;
      margin-left: 0; } }
  @media only screen and (max-width: 767px) {
    .contacts li {
      margin-bottom: .5em; } }

.error {
  bottom: -2.6em;
  color: #f9334a;
  font-size: .8rem;
  opacity: 0;
  position: absolute;
  transition: opacity 1s linear; }

@media only screen and (max-width: 767px) {
  [type='email'] + span {
    bottom: -1.5em; } }
.is-active-error {
  opacity: 1; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./../images/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./../fonts/slick.eot");
  src: url("./../fonts/slick.eot?#iefix") format("embedded-opentype"), url("./../fonts/slick.woff") format("woff"), url("./../fonts/slick.ttf") format("truetype"), url("./../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*# sourceMappingURL=main.css.map */
