@charset "UTF-8";
/*colors  var*/
/* fonts */
/*breakpoints*/
/*  paddings and margins */
.doodle-quote:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

header:after, .doodle-item-slider:after, footer .footer-wrapper form:after {
  content: "";
  display: table;
  clear: both; }

.doodle-quote {
  height: 180px;
  color: #596952;
  font-family: m-webfont;
  font-size: 1.25rem;
  line-height: 2.2em;
  text-align: center;
  margin: 0; }

.doodle-item-wrapper {
  padding: 3.625em 2.5em 8.9375em;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 991px) {
    .doodle-item-wrapper {
      padding-bottom: 15.9375em; } }

h2 {
  font-family: m-webfont;
  color: #fff;
  font-size: 1.6875rem;
  line-height: 1.9em;
  margin-bottom: 1.5em; }

.doodle-item-ribbon {
  position: absolute;
  width: 20.5em;
  padding-left: 1.2em;
  font-size: 1.25rem;
  height: 59px;
  line-height: 2.95em;
  right: 0;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  bottom: 55px; }
  @media only screen and (max-width: 767px) {
    .doodle-item-ribbon {
      margin: 0 auto;
      text-align: center;
      width: 15.5em;
      position: relative;
      margin-top: 55px; } }

.active {
  height: auto;
  overflow: auto; }

.no-wr {
  white-space: nowrap; }
  @media only screen and (max-width: 767px) {
    .no-wr {
      white-space: normal; } }

* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  margin: 0;
  height: 100%; }

body {
  font-family: "Roboto", Arial, sans-serif; }

button {
  border: none;
  padding: 0; }

ul {
  padding-left: 0;
  margin: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  font-size: 1.0625rem;
  color: #a9916a;
  font-weight: 500; }
  a:hover {
    padding-bottom: 2px;
    border-bottom: 2px #a9916a solid; }
  @media only screen and (max-width: 1289px) {
    a {
      font-size: 1rem; } }
  @media only screen and (max-width: 1199px) {
    a {
      font-size: .9rem; } }

p {
  line-height: 1.6; }

fieldset {
  border: none;
  float: left;
  margin-right: 2.5em;
  padding: 0 0 0 1em; }
  @media only screen and (max-width: 1199px) {
    fieldset {
      margin-right: 2em;
      padding-left: .5em; } }
  @media only screen and (max-width: 991px) {
    fieldset {
      margin-right: 1em; } }
  @media only screen and (max-width: 767px) {
    fieldset {
      float: none;
      text-align: center;
      padding-left: 0;
      margin: 0; } }

label {
  display: block;
  text-align: left;
  color: #596952; }

textarea {
  display: block;
  margin-bottom: 2.8125em;
  padding-top: 1em; }

input {
  display: block;
  margin-bottom: 1.375em;
  height: 45px; }

input,
textarea {
  -moz-border-radius: 4px;
       border-radius: 4px;
  border: 1px solid #596952;
  font-size: 1rem;
  width: 382px;
  margin-top: .41176em;
  background-color: #f7f7ed;
  outline: none;
  padding-left: 1.125em; }
  input:focus,
  textarea:focus {
    -webkit-box-shadow: inset 1px 2px 3px rgba(10, 13, 18, 0.3);
       -moz-box-shadow: inset 1px 2px 3px rgba(10, 13, 18, 0.3);
            box-shadow: inset 1px 2px 3px rgba(10, 13, 18, 0.3); }
  @media only screen and (max-width: 1199px) {
    input,
    textarea {
      width: 350px; } }
  @media only screen and (max-width: 991px) {
    input,
    textarea {
      width: 250px; } }
  @media only screen and (max-width: 767px) {
    input,
    textarea {
      width: 382px;
      margin: 0; } }
  @media only screen and (max-width: 480px) {
    input,
    textarea {
      width: 100%; } }

label {
  font-size: 1.0625rem;
  position: relative; }

img {
  vertical-align: middle; }

h1 {
  font-family: "m-webfont";
  font-size: 4.75rem;
  line-height: 1;
  color: #596952;
  background-color: #fbfcf5;
  text-align: center;
  margin: 0 auto;
  padding: .75em 0 .57894em;
  position: relative; }
  @media only screen and (max-width: 991px) {
    h1 {
      font-size: 3.75rem;
      padding-left: .01em;
      padding-right: .01em; } }
  @media only screen and (max-width: 450px) {
    h1 {
      font-size: 1.75rem; } }

@media only screen and (max-width: 1289px) {
  h2 {
    font-size: 1.5875rem; } }
@media only screen and (max-width: 1199px) {
  h2 {
    font-size: 1.3875rem; } }
@media only screen and (max-width: 991px) {
  h2 {
    font-size: 1.2875rem; } }
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 1.4875rem;
    text-align: center; } }

@font-face {
  font-family: "m-webfont";
  src: url("../fonts/m-webfont.eot?") format("eot"), url("../fonts/m-webfont.woff2") format("woff2"), url("../fonts/m-webfont.woff") format("woff"), url("../fonts/m-webfont.ttf") format("truetype"), url("../fonts/m-webfont.svg#m-webfont") format("svg"); }
header {
  -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.34);
     -moz-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.34);
          box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.34);
  max-height: 130px;
  -webkit-transition: max-height .5s ease-out;
  -moz-transition: max-height .5s ease-out;
  -o-transition: max-height .5s ease-out;
  transition: max-height .5s ease-out;
  line-height: 8.125em;
  position: relative;
  z-index: 1;
  padding: 0 .625em; }
  @media only screen and (max-width: 767px) {
    header {
      text-align: center;
      overflow: hidden; } }
  header .basic-btn {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.0625rem;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1;
    text-align: center;
    /*box-shadow: 2px 2px 3px rgba(0,0,0,.5);*/
    -moz-border-radius: 3px;
         border-radius: 3px;
    padding: 0.8235em 2.9375em;
    background: #596952;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    -moz-transition: transform .3s linear, -moz-transform .3s linear;
    -o-transition: transform .3s linear, -o-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear, -moz-transform .3s linear, -o-transform .3s linear; }
    header .basic-btn:before {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      content: "";
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -moz-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -o-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      -webkit-transition: opacity .3s, -webkit-transform .3s;
      transition: opacity .3s, -webkit-transform .3s;
      -moz-transition: transform .3s, opacity .3s, -moz-transform .3s;
      -o-transition: transform .3s, opacity .3s, -o-transform .3s;
      transition: transform .3s, opacity .3s;
      transition: transform .3s, opacity .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s; }
    header .basic-btn:hover, header .basic-btn:focus, header .basic-btn:active {
      border: none;
      -webkit-transform: translateY(-5px);
         -moz-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
           -o-transform: translateY(-5px);
              transform: translateY(-5px); }
      header .basic-btn:hover:before, header .basic-btn:focus:before, header .basic-btn:active:before {
        opacity: 1;
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
         -ms-transform: translateY(5px);
          -o-transform: translateY(5px);
             transform: translateY(5px); }
    @media only screen and (max-width: 1289px) {
      header .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 1199px) {
      header .basic-btn {
        font-size: .9rem; } }
    @media only screen and (max-width: 767px) {
      header .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 1199px) {
      header .basic-btn {
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 1.0625rem;
        font-family: "Roboto", Arial, sans-serif;
        line-height: 1;
        text-align: center;
        /*box-shadow: 2px 2px 3px rgba(0,0,0,.5);*/
        -moz-border-radius: 3px;
             border-radius: 3px;
        padding: 0.6235em 1.9375em;
        background: #596952;
        -webkit-transform: translateZ(0);
           -moz-transform: translateZ(0);
                transform: translateZ(0);
        -webkit-transition: -webkit-transform .3s linear;
        transition: -webkit-transform .3s linear;
        -moz-transition: transform .3s linear, -moz-transform .3s linear;
        -o-transition: transform .3s linear, -o-transform .3s linear;
        transition: transform .3s linear;
        transition: transform .3s linear, -webkit-transform .3s linear, -moz-transform .3s linear, -o-transform .3s linear; }
        header .basic-btn:before {
          pointer-events: none;
          position: absolute;
          z-index: -1;
          content: "";
          top: 100%;
          left: 5%;
          height: 10px;
          width: 90%;
          opacity: 0;
          background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
          background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
          background: -moz-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
          background: -o-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
          background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
          -webkit-transition: opacity .3s, -webkit-transform .3s;
          transition: opacity .3s, -webkit-transform .3s;
          -moz-transition: transform .3s, opacity .3s, -moz-transform .3s;
          -o-transition: transform .3s, opacity .3s, -o-transform .3s;
          transition: transform .3s, opacity .3s;
          transition: transform .3s, opacity .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s; }
        header .basic-btn:hover, header .basic-btn:focus, header .basic-btn:active {
          border: none;
          -webkit-transform: translateY(-5px);
             -moz-transform: translateY(-5px);
              -ms-transform: translateY(-5px);
               -o-transform: translateY(-5px);
                  transform: translateY(-5px); }
          header .basic-btn:hover:before, header .basic-btn:focus:before, header .basic-btn:active:before {
            opacity: 1;
            -webkit-transform: translateY(5px);
            -moz-transform: translateY(5px);
             -ms-transform: translateY(5px);
              -o-transform: translateY(5px);
                 transform: translateY(5px); } }
  @media only screen and (max-width: 1199px) and (max-width: 1289px) {
    header .basic-btn {
      font-size: 1rem; } }
  @media only screen and (max-width: 1199px) and (max-width: 1199px) {
    header .basic-btn {
      font-size: .9rem; } }
  @media only screen and (max-width: 1199px) and (max-width: 767px) {
    header .basic-btn {
      font-size: 1rem; } }

    @media only screen and (max-width: 767px) {
      header .basic-btn {
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 1.0625rem;
        font-family: "Roboto", Arial, sans-serif;
        line-height: 1;
        text-align: center;
        /*box-shadow: 2px 2px 3px rgba(0,0,0,.5);*/
        -moz-border-radius: 3px;
             border-radius: 3px;
        padding: 0.8235em 2.9375em;
        background: #596952;
        -webkit-transform: translateZ(0);
           -moz-transform: translateZ(0);
                transform: translateZ(0);
        -webkit-transition: -webkit-transform .3s linear;
        transition: -webkit-transform .3s linear;
        -moz-transition: transform .3s linear, -moz-transform .3s linear;
        -o-transition: transform .3s linear, -o-transform .3s linear;
        transition: transform .3s linear;
        transition: transform .3s linear, -webkit-transform .3s linear, -moz-transform .3s linear, -o-transform .3s linear; }
        header .basic-btn:before {
          pointer-events: none;
          position: absolute;
          z-index: -1;
          content: "";
          top: 100%;
          left: 5%;
          height: 10px;
          width: 90%;
          opacity: 0;
          background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
          background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
          background: -moz-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
          background: -o-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
          background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
          -webkit-transition: opacity .3s, -webkit-transform .3s;
          transition: opacity .3s, -webkit-transform .3s;
          -moz-transition: transform .3s, opacity .3s, -moz-transform .3s;
          -o-transition: transform .3s, opacity .3s, -o-transform .3s;
          transition: transform .3s, opacity .3s;
          transition: transform .3s, opacity .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s; }
        header .basic-btn:hover, header .basic-btn:focus, header .basic-btn:active {
          border: none;
          -webkit-transform: translateY(-5px);
             -moz-transform: translateY(-5px);
              -ms-transform: translateY(-5px);
               -o-transform: translateY(-5px);
                  transform: translateY(-5px); }
          header .basic-btn:hover:before, header .basic-btn:focus:before, header .basic-btn:active:before {
            opacity: 1;
            -webkit-transform: translateY(5px);
            -moz-transform: translateY(5px);
             -ms-transform: translateY(5px);
              -o-transform: translateY(5px);
                 transform: translateY(5px); } }
  @media only screen and (max-width: 767px) and (max-width: 1289px) {
    header .basic-btn {
      font-size: 1rem; } }
  @media only screen and (max-width: 767px) and (max-width: 1199px) {
    header .basic-btn {
      font-size: .9rem; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    header .basic-btn {
      font-size: 1rem; } }

  @media only screen and (max-width: 1199px) {
    header img {
      width: 70px; } }
  @media only screen and (max-width: 767px) {
    header img {
      width: 104px; } }
  @media only screen and (max-width: 767px) {
    header .float-r {
      float: none; } }
  @media only screen and (max-width: 767px) {
    header .float-l {
      float: none; } }

.doodle-item {
  color: #232323;
  position: relative;
  overflow: hidden; }

.visual-doodle {
  background-color: #e4b7e5;
  background-image: -webkit-linear-gradient(50deg, #e4b7e5 15%, #c376c4 85%);
  background-image: -moz-linear-gradient(50deg, #e4b7e5 15%, #c376c4 85%);
  background-image: -o-linear-gradient(50deg, #e4b7e5 15%, #c376c4 85%);
  background-image: linear-gradient(40deg, #e4b7e5 15%, #c376c4 85%); }
  .visual-doodle .basic-btn {
    margin-top: 5.294em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.0625rem;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1;
    text-align: center;
    /*box-shadow: 2px 2px 3px rgba(0,0,0,.5);*/
    -moz-border-radius: 3px;
         border-radius: 3px;
    padding: 0.8235em 2.9375em;
    background: #c65ac4;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    -moz-transition: transform .3s linear, -moz-transform .3s linear;
    -o-transition: transform .3s linear, -o-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear, -moz-transform .3s linear, -o-transform .3s linear; }
    .visual-doodle .basic-btn:before {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      content: "";
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -moz-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -o-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      -webkit-transition: opacity .3s, -webkit-transform .3s;
      transition: opacity .3s, -webkit-transform .3s;
      -moz-transition: transform .3s, opacity .3s, -moz-transform .3s;
      -o-transition: transform .3s, opacity .3s, -o-transform .3s;
      transition: transform .3s, opacity .3s;
      transition: transform .3s, opacity .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s; }
    .visual-doodle .basic-btn:hover, .visual-doodle .basic-btn:focus, .visual-doodle .basic-btn:active {
      border: none;
      -webkit-transform: translateY(-5px);
         -moz-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
           -o-transform: translateY(-5px);
              transform: translateY(-5px); }
      .visual-doodle .basic-btn:hover:before, .visual-doodle .basic-btn:focus:before, .visual-doodle .basic-btn:active:before {
        opacity: 1;
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
         -ms-transform: translateY(5px);
          -o-transform: translateY(5px);
             transform: translateY(5px); }
    @media only screen and (max-width: 1289px) {
      .visual-doodle .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 1199px) {
      .visual-doodle .basic-btn {
        font-size: .9rem; } }
    @media only screen and (max-width: 767px) {
      .visual-doodle .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 767px) {
      .visual-doodle .basic-btn {
        margin-top: 2.294em; } }
  .visual-doodle .doodle-item-ribbon {
    background-color: #c376c4; }

.ok-doodle {
  background-color: #fba9b4;
  background-image: -webkit-linear-gradient(50deg, #fba9b4 0%, #f77f89 100%);
  background-image: -moz-linear-gradient(50deg, #fba9b4 0%, #f77f89 100%);
  background-image: -o-linear-gradient(50deg, #fba9b4 0%, #f77f89 100%);
  background-image: linear-gradient(40deg, #fba9b4 0%, #f77f89 100%); }
  .ok-doodle .basic-btn {
    margin-top: 5.294em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.0625rem;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1;
    text-align: center;
    /*box-shadow: 2px 2px 3px rgba(0,0,0,.5);*/
    -moz-border-radius: 3px;
         border-radius: 3px;
    padding: 0.8235em 2.9375em;
    background: #f9334a;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    -moz-transition: transform .3s linear, -moz-transform .3s linear;
    -o-transition: transform .3s linear, -o-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear, -moz-transform .3s linear, -o-transform .3s linear; }
    .ok-doodle .basic-btn:before {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      content: "";
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -moz-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -o-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      -webkit-transition: opacity .3s, -webkit-transform .3s;
      transition: opacity .3s, -webkit-transform .3s;
      -moz-transition: transform .3s, opacity .3s, -moz-transform .3s;
      -o-transition: transform .3s, opacity .3s, -o-transform .3s;
      transition: transform .3s, opacity .3s;
      transition: transform .3s, opacity .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s; }
    .ok-doodle .basic-btn:hover, .ok-doodle .basic-btn:focus, .ok-doodle .basic-btn:active {
      border: none;
      -webkit-transform: translateY(-5px);
         -moz-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
           -o-transform: translateY(-5px);
              transform: translateY(-5px); }
      .ok-doodle .basic-btn:hover:before, .ok-doodle .basic-btn:focus:before, .ok-doodle .basic-btn:active:before {
        opacity: 1;
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
         -ms-transform: translateY(5px);
          -o-transform: translateY(5px);
             transform: translateY(5px); }
    @media only screen and (max-width: 1289px) {
      .ok-doodle .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 1199px) {
      .ok-doodle .basic-btn {
        font-size: .9rem; } }
    @media only screen and (max-width: 767px) {
      .ok-doodle .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 767px) {
      .ok-doodle .basic-btn {
        margin-top: 2.294em; } }
  .ok-doodle .doodle-item-ribbon {
    background-color: #f6616f; }

.simple-step-doodle {
  background-color: #cae7a6;
  background-image: -webkit-linear-gradient(50deg, #cae7a6 0%, #a1cb7b 100%);
  background-image: -moz-linear-gradient(50deg, #cae7a6 0%, #a1cb7b 100%);
  background-image: -o-linear-gradient(50deg, #cae7a6 0%, #a1cb7b 100%);
  background-image: linear-gradient(40deg, #cae7a6 0%, #a1cb7b 100%); }
  .simple-step-doodle .basic-btn {
    margin-top: 5.294em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.0625rem;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1;
    text-align: center;
    /*box-shadow: 2px 2px 3px rgba(0,0,0,.5);*/
    -moz-border-radius: 3px;
         border-radius: 3px;
    padding: 0.8235em 2.9375em;
    background: #6fc72a;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    -moz-transition: transform .3s linear, -moz-transform .3s linear;
    -o-transition: transform .3s linear, -o-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear, -moz-transform .3s linear, -o-transform .3s linear; }
    .simple-step-doodle .basic-btn:before {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      content: "";
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -moz-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -o-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      -webkit-transition: opacity .3s, -webkit-transform .3s;
      transition: opacity .3s, -webkit-transform .3s;
      -moz-transition: transform .3s, opacity .3s, -moz-transform .3s;
      -o-transition: transform .3s, opacity .3s, -o-transform .3s;
      transition: transform .3s, opacity .3s;
      transition: transform .3s, opacity .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s; }
    .simple-step-doodle .basic-btn:hover, .simple-step-doodle .basic-btn:focus, .simple-step-doodle .basic-btn:active {
      border: none;
      -webkit-transform: translateY(-5px);
         -moz-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
           -o-transform: translateY(-5px);
              transform: translateY(-5px); }
      .simple-step-doodle .basic-btn:hover:before, .simple-step-doodle .basic-btn:focus:before, .simple-step-doodle .basic-btn:active:before {
        opacity: 1;
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
         -ms-transform: translateY(5px);
          -o-transform: translateY(5px);
             transform: translateY(5px); }
    @media only screen and (max-width: 1289px) {
      .simple-step-doodle .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 1199px) {
      .simple-step-doodle .basic-btn {
        font-size: .9rem; } }
    @media only screen and (max-width: 767px) {
      .simple-step-doodle .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 767px) {
      .simple-step-doodle .basic-btn {
        margin-top: 2.294em; } }
  .simple-step-doodle .doodle-item-ribbon {
    background-color: #90c05f; }

.doodle-container {
  position: relative;
  -webkit-transition: -webkit-transform 500ms ease-in;
  transition: -webkit-transform 500ms ease-in;
  -moz-transition: transform 500ms ease-in, -moz-transform 500ms ease-in;
  -o-transition: transform 500ms ease-in, -o-transform 500ms ease-in;
  transition: transform 500ms ease-in;
  transition: transform 500ms ease-in, -webkit-transform 500ms ease-in, -moz-transform 500ms ease-in, -o-transform 500ms ease-in; }
  .doodle-container .preview {
    display: none;
    float: left;
    width: 23%;
    margin-right: 2%;
    margin-bottom: 1.588em;
    position: relative; }
    @media only screen and (max-width: 991px) {
      .doodle-container .preview {
        width: 30%;
        margin-right: 3%; } }
    @media only screen and (max-width: 767px) {
      .doodle-container .preview {
        width: 50%;
        margin: 0 auto;
        float: none;
        margin-bottom: 25px; } }
  .doodle-container .full {
    min-height: 100%;
    -webkit-transition: min-height .25s ease-in;
    -moz-transition: min-height .25s ease-in;
    -o-transition: min-height .25s ease-in;
    transition: min-height .25s ease-in; }
  .doodle-container.clicked {
    -webkit-transition: -webkit-transform 500ms ease-out;
    transition: -webkit-transform 500ms ease-out;
    -moz-transition: transform 500ms ease-out, -moz-transform 500ms ease-out;
    -o-transition: transform 500ms ease-out, -o-transform 500ms ease-out;
    transition: transform 500ms ease-out;
    transition: transform 500ms ease-out, -webkit-transform 500ms ease-out, -moz-transform 500ms ease-out, -o-transform 500ms ease-out;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%); }
  .doodle-container:nth-child(2) {
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
         -o-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    right: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: -webkit-transform 500ms ease-out;
    transition: -webkit-transform 500ms ease-out;
    -moz-transition: transform 500ms ease-out, -moz-transform 500ms ease-out;
    -o-transition: transform 500ms ease-out, -o-transform 500ms ease-out;
    transition: transform 500ms ease-out;
    transition: transform 500ms ease-out, -webkit-transform 500ms ease-out, -moz-transform 500ms ease-out, -o-transform 500ms ease-out; }
  .doodle-container.clicked-two {
    -webkit-transition: -webkit-transform 500ms ease-out;
    transition: -webkit-transform 500ms ease-out;
    -moz-transition: transform 500ms ease-out, -moz-transform 500ms ease-out;
    -o-transition: transform 500ms ease-out, -o-transform 500ms ease-out;
    transition: transform 500ms ease-out;
    transition: transform 500ms ease-out, -webkit-transform 500ms ease-out, -moz-transform 500ms ease-out, -o-transform 500ms ease-out;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0); }

@media only screen and (max-width: 767px) {
  .doodle-item-wrapper {
    padding: 0 1em; } }
.doodle-item-wrapper .doodle-item-content {
  float: left;
  width: 40%; }
  @media only screen and (max-width: 767px) {
    .doodle-item-wrapper .doodle-item-content {
      width: 100%;
      float: none;
      text-align: center; } }
  .doodle-item-wrapper .doodle-item-content.hideme {
    position: relative;
    right: 100%;
    opacity: 0; }
  .doodle-item-wrapper .doodle-item-content li {
    margin-bottom: 15px; }
    .doodle-item-wrapper .doodle-item-content li:last-child {
      margin-bottom: 0; }
    @media only screen and (max-width: 1199px) {
      .doodle-item-wrapper .doodle-item-content li {
        font-size: .9rem;
        line-height: 1.6em; } }
    @media only screen and (max-width: 991px) {
      .doodle-item-wrapper .doodle-item-content li {
        font-size: .8rem; } }
    @media only screen and (max-width: 767px) {
      .doodle-item-wrapper .doodle-item-content li {
        font-size: 1rem;
        text-align: left; } }
  @media only screen and (max-width: 1199px) {
    .doodle-item-wrapper .doodle-item-content p {
      font-size: .9rem;
      line-height: 1.6em; } }
  @media only screen and (max-width: 991px) {
    .doodle-item-wrapper .doodle-item-content p {
      font-size: .8rem; } }
  @media only screen and (max-width: 767px) {
    .doodle-item-wrapper .doodle-item-content p {
      font-size: .9rem;
      text-align: left; } }

.doodle-item-images {
  width: 60%;
  float: right;
  text-align: center;
  padding-bottom: 5.5625em; }
  @media only screen and (max-width: 767px) {
    .doodle-item-images {
      width: 100%;
      float: none; } }
  .doodle-item-images.hideme {
    left: 100%;
    position: relative; }
  .doodle-item-images img {
    position: relative;
    left: 60px;
    top: 10px;
    width: 92%; }
    @media only screen and (max-width: 991px) {
      .doodle-item-images img {
        top: 60px;
        left: 50px; } }
    @media only screen and (max-width: 767px) {
      .doodle-item-images img {
        top: 42px;
        left: 0; } }

@media only screen and (max-width: 767px) {
  .doodle-item-slider {
    padding: 2em 0;
    overflow-y: scroll;
    text-align: center;
    height: 750px; } }

.doodle-others-projects {
  padding: 4.375em 0;
  text-align: center; }
  @media only screen and (max-width: 991px) {
    .doodle-others-projects {
      padding: 2.375em 0; } }
  .doodle-others-projects h3 {
    color: #596952;
    font: 400 1.25rem "m-webfont";
    margin-top: 0;
    margin-bottom: 2.1em;
    text-align: center; }
    @media only screen and (max-width: 991px) {
      .doodle-others-projects h3 {
        font-size: 1rem; } }
  .doodle-others-projects a {
    margin-right: 2.01em; }
    .doodle-others-projects a:last-child {
      margin-right: 0; }
    @media only screen and (max-width: 767px) {
      .doodle-others-projects a {
        margin-right: 0; } }
    .doodle-others-projects a img {
      width: 30%; }
      @media only screen and (max-width: 767px) {
        .doodle-others-projects a img {
          width: 80%;
          margin-bottom: 2em; } }

footer {
  background: #b24fc3;
  background: rgba(178, 79, 195, 0.5) url("../images/footer-bg.jpg") no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }
  footer .footer-wrapper {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5); }
    footer .footer-wrapper .footer-wrapper-content {
      overflow: hidden;
      padding-bottom: 8.5em;
      text-align: center; }
      footer .footer-wrapper .footer-wrapper-content h3 {
        font-family: "m-webfont";
        font-size: 1.25rem;
        text-align: center;
        margin: 3.55em 0 3.4em;
        color: #3b3b3e; }
    footer .footer-wrapper form {
      display: inline-block;
      text-align: left; }
  @media only screen and (max-width: 767px) {
    footer .field-block {
      display: inline-block;
      margin-top: 1em; } }
  @media only screen and (max-width: 480px) {
    footer .field-block {
      display: block;
      width: 100%; } }
  footer .basic-btn {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1;
    text-align: center;
    /*box-shadow: 2px 2px 3px rgba(0,0,0,.5);*/
    -moz-border-radius: 3px;
         border-radius: 3px;
    padding: 0.8235em 1.3125em;
    background: #92278f;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    -moz-transition: transform .3s linear, -moz-transform .3s linear;
    -o-transition: transform .3s linear, -o-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear, -moz-transform .3s linear, -o-transform .3s linear; }
    footer .basic-btn:before {
      pointer-events: none;
      position: absolute;
      z-index: -1;
      content: "";
      top: 100%;
      left: 5%;
      height: 10px;
      width: 90%;
      opacity: 0;
      background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -moz-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: -o-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
      -webkit-transition: opacity .3s, -webkit-transform .3s;
      transition: opacity .3s, -webkit-transform .3s;
      -moz-transition: transform .3s, opacity .3s, -moz-transform .3s;
      -o-transition: transform .3s, opacity .3s, -o-transform .3s;
      transition: transform .3s, opacity .3s;
      transition: transform .3s, opacity .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s; }
    footer .basic-btn:hover, footer .basic-btn:focus, footer .basic-btn:active {
      border: none;
      -webkit-transform: translateY(-5px);
         -moz-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
           -o-transform: translateY(-5px);
              transform: translateY(-5px); }
      footer .basic-btn:hover:before, footer .basic-btn:focus:before, footer .basic-btn:active:before {
        opacity: 1;
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
         -ms-transform: translateY(5px);
          -o-transform: translateY(5px);
             transform: translateY(5px); }
    @media only screen and (max-width: 1289px) {
      footer .basic-btn {
        font-size: 1rem; } }
    @media only screen and (max-width: 1199px) {
      footer .basic-btn {
        font-size: .9rem; } }
    @media only screen and (max-width: 767px) {
      footer .basic-btn {
        font-size: 1rem; } }
    footer .basic-btn:focus {
      outline: none; }
    @media only screen and (max-width: 767px) {
      footer .basic-btn {
        margin-top: 2.5em; } }

.container {
  min-width: 320px;
  max-width: 1370px;
  margin: 0 auto; }

.doodle-item-ribbon a {
  color: #fff;
  text-transform: uppercase;
  margin-right: 20px;
  display: block;
  border: 0; }

.clicked-ribbon {
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  right: 100%;
  margin-right: -90px; }
  @media only screen and (max-width: 767px) {
    .clicked-ribbon {
      margin-right: auto;
      right: auto; } }

.float-r {
  float: right; }

.float-l {
  float: left; }

nav {
  overflow: hidden;
  padding: 0 .3125em; }
  @media only screen and (max-width: 1199px) {
    nav {
      padding: 0; } }
  nav li {
    display: inline-block;
    margin-right: 1.625em; }
    @media only screen and (max-width: 767px) {
      nav li a {
        display: block;
        font-size: 1.0625rem;
        text-transform: uppercase; } }
    @media only screen and (max-width: 1199px) {
      nav li {
        margin-right: 1.2em; } }
    @media only screen and (max-width: 767px) {
      nav li {
        display: block;
        line-height: 2.5em;
        margin-right: 0; } }

.doodle-slider {
  background-color: #fbfcf5;
  overflow: hidden; }
  .doodle-slider .doodle-slider-wrapper {
    max-height: 360px;
    overflow: hidden; }
  .doodle-slider .slick-prev,
  .doodle-slider .slick-next {
    display: none; }
  .doodle-slider .slick-dots {
    bottom: 15px; }

.doodle-quote blockquote {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  margin-right: 0;
  width: 70%; }
  @media only screen and (max-width: 1199px) {
    .doodle-quote blockquote {
      width: 90%; } }
@media only screen and (max-width: 991px) {
  .doodle-quote {
    height: auto;
    font-size: 1rem; }
    .doodle-quote:after {
      content: "";
      display: block; } }

.doodle-item-ribbon a {
  color: #fff;
  text-transform: uppercase;
  margin-right: 20px;
  display: block;
  border: 0; }

.clicked-ribbon {
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  right: 100%;
  margin-right: -90px; }
  @media only screen and (max-width: 767px) {
    .clicked-ribbon {
      margin-right: auto;
      right: auto; } }

.triangle {
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 500ms ease-in;
  transition: -webkit-transform 500ms ease-in;
  -moz-transition: transform 500ms ease-in, -moz-transform 500ms ease-in;
  -o-transition: transform 500ms ease-in, -o-transform 500ms ease-in;
  transition: transform 500ms ease-in;
  transition: transform 500ms ease-in, -webkit-transform 500ms ease-in, -moz-transform 500ms ease-in, -o-transform 500ms ease-in;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #fff;
  opacity: .45;
  margin-bottom: -6px;
  margin-right: 5px; }
  .triangle.rotate {
    -webkit-transition: -webkit-transform 500ms ease-out;
    transition: -webkit-transform 500ms ease-out;
    -moz-transition: transform 500ms ease-out, -moz-transform 500ms ease-out;
    -o-transition: transform 500ms ease-out, -o-transform 500ms ease-out;
    transition: transform 500ms ease-out;
    transition: transform 500ms ease-out, -webkit-transform 500ms ease-out, -moz-transform 500ms ease-out, -o-transform 500ms ease-out;
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg); }
  .triangle:nth-child(1) {
    margin-left: 20px; }

.telephones {
  color: #596952;
  margin-right: 2.5em;
  font-size: 1.25rem; }
  @media only screen and (max-width: 1289px) {
    .telephones {
      font-size: 1.1rem;
      margin-right: 2em; } }
  @media only screen and (max-width: 1199px) {
    .telephones {
      font-size: 1rem;
      margin-right: 1.5rem; } }
  @media only screen and (max-width: 767px) {
    .telephones {
      margin-right: 0;
      margin-bottom: 2em; } }
  .telephones div {
    display: inline-block;
    line-height: 1.5em;
    vertical-align: middle;
    margin-top: -.25em; }
    @media only screen and (max-width: 1289px) {
      .telephones div {
        margin-top: 0; } }
    @media only screen and (max-width: 991px) {
      .telephones div {
        display: none; } }
    @media only screen and (max-width: 767px) {
      .telephones div {
        display: block; } }

.telephones-item {
  margin: auto .75em; }
  @media only screen and (max-width: 1199px) {
    .telephones-item {
      margin: auto .5em; } }

.hamburger-btn {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 45px;
  margin: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -moz-border-radius: none;
       border-radius: none;
  border: 0;
  cursor: pointer;
  background: transparent;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s; }
  @media only screen and (max-width: 767px) {
    .hamburger-btn {
      display: block; } }
  .hamburger-btn:focus {
    outline: none; }
  .hamburger-btn span {
    display: block;
    position: absolute;
    top: 20px;
    left: 5px;
    right: 5px;
    height: 4px;
    background: #a9916a;
    -webkit-transition: background 0s .3s;
    -moz-transition: background 0s .3s;
    -o-transition: background 0s .3s;
    transition: background 0s .3s; }
    .hamburger-btn span:before, .hamburger-btn span:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #a9916a;
      content: "";
      -webkit-transition-duration: .3s, .3s;
         -moz-transition-duration: .3s, .3s;
           -o-transition-duration: .3s, .3s;
              transition-duration: .3s, .3s;
      -webkit-transition-delay: .3s, 0s;
         -moz-transition-delay: .3s, 0s;
           -o-transition-delay: .3s, 0s;
              transition-delay: .3s, 0s; }
    .hamburger-btn span:before {
      top: -10px;
      -webkit-transition-property: top, -webkit-transform;
      transition-property: top, -webkit-transform;
      -moz-transition-property: top, transform, -moz-transform;
      -o-transition-property: top, transform, -o-transform;
      transition-property: top, transform;
      transition-property: top, transform, -webkit-transform, -moz-transform, -o-transform; }
    .hamburger-btn span:after {
      bottom: -10px;
      -webkit-transition-property: bottom, -webkit-transform;
      transition-property: bottom, -webkit-transform;
      -moz-transition-property: bottom, transform, -moz-transform;
      -o-transition-property: bottom, transform, -o-transform;
      transition-property: bottom, transform;
      transition-property: bottom, transform, -webkit-transform, -moz-transform, -o-transform; }

.is-active span {
  background: none; }
  .is-active span:after, .is-active span:before {
    -webkit-transition-delay: 0s, .3s;
       -moz-transition-delay: 0s, .3s;
         -o-transition-delay: 0s, .3s;
            transition-delay: 0s, .3s; }
  .is-active span:before {
    top: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg); }
  .is-active span:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.svg-element {
  -webkit-transform: scale(0.5) rotate(180deg);
     -moz-transform: scale(0.5) rotate(180deg);
       -o-transform: scale(0.5) rotate(180deg);
          transform: scale(0.5) rotate(180deg);
  -ms-transform: scale(0.5) rotate(180deg);
  position: absolute;
  top: -45px;
  right: 150px; }
  @media only screen and (max-width: 1199px) {
    .svg-element {
      right: 105px; } }
  @media only screen and (max-width: 767px) {
    .svg-element {
      height: 20px;
      width: 20px;
      top: -70px; } }
  @media only screen and (max-width: 360px) {
    .svg-element {
      right: 20px; } }

.svg-element2 {
  position: absolute;
  top: 109px;
  left: 200px; }
  @media only screen and (max-width: 1199px) {
    .svg-element2 {
      left: 155px; } }
  @media only screen and (max-width: 991px) {
    .svg-element2 {
      display: none; } }
  @media only screen and (max-width: 360px) {
    .svg-element2 {
      top: 68px; } }
  @media only screen and (max-width: 767px) {
    .svg-element2 {
      width: 50px;
      display: block; } }

.svg-element3 {
  position: absolute;
  right: 50px; }
  @media only screen and (max-width: 1199px) {
    .svg-element3 {
      right: 5px; } }
  @media only screen and (max-width: 767px) {
    .svg-element3 {
      right: 15px;
      width: 40px; } }
  @media only screen and (max-width: 360px) {
    .svg-element3 {
      top: 65px; } }

.svg-element4 {
  position: absolute;
  left: 150px;
  top: -13px;
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg); }
  @media only screen and (max-width: 1199px) {
    .svg-element4 {
      left: 105px; } }
  @media only screen and (max-width: 767px) {
    .svg-element4 {
      top: -9px;
      left: 0;
      width: 50px; } }

.svg-element5 {
  position: absolute;
  left: 50px; }
  @media only screen and (max-width: 1199px) {
    .svg-element5 {
      left: 5px; } }
  @media only screen and (max-width: 767px) {
    .svg-element5 {
      width: 40px; } }
  @media only screen and (max-width: 360px) {
    .svg-element5 {
      top: 65px; } }

.svg-element6 {
  position: absolute;
  top: 106px;
  right: 200px;
  -webkit-transform: rotate(50deg);
     -moz-transform: rotate(50deg);
       -o-transform: rotate(50deg);
          transform: rotate(50deg);
  -ms-transform: rotate(50deg); }
  @media only screen and (max-width: 991px) {
    .svg-element6 {
      display: none; } }
  @media only screen and (max-width: 1199px) {
    .svg-element6 {
      right: 155px; } }

.loaded .st0 {
  -moz-animation: dash 5s linear;
    -o-animation: dash 5s linear;
       animation: dash 5s linear;
  -webkit-animation: dash 5s linear;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-fill-mode: forwards; }
  .loaded .st0is-filled {
    fill: gray; }

@-webkit-keyframes dash {
  100% {
    stroke-dashoffset: 0; } }

@-moz-keyframes dash {
  100% {
    stroke-dashoffset: 0; } }

@-o-keyframes dash {
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash {
  100% {
    stroke-dashoffset: 0; } }
.contacts {
  display: inline-block;
  font-size: 1.325rem;
  color: #232323;
  margin-left: 3.2857em;
  position: relative;
  margin-right: .9em;
  top: -87px; }
  @media only screen and (max-width: 767px) {
    .contacts li {
      margin-bottom: .5em; } }
  @media only screen and (max-width: 1199px) {
    .contacts {
      font-size: 1.125rem;
      margin-left: 0; } }
  @media only screen and (max-width: 991px) {
    .contacts {
      font-size: 1rem; } }
  @media only screen and (max-width: 767px) {
    .contacts {
      top: 0;
      margin: 0;
      padding-top: 1em; } }
  @media only screen and (max-width: 480px) {
    .contacts {
      display: block; } }

.error {
  position: absolute;
  font-size: .8rem;
  bottom: -2.6em;
  color: red;
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear; }

.is-active-error {
  opacity: 1; }

@media only screen and (max-width: 767px) {
  [type="email"] + span {
    bottom: -1.5em; } }
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./../images/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./../fonts/slick.eot");
  src: url("./../fonts/slick.eot?#iefix") format("embedded-opentype"), url("./../fonts/slick.woff") format("woff"), url("./../fonts/slick.ttf") format("truetype"), url("./../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
       transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*# sourceMappingURL=main.css.map */