.doodle-item {
  color: $mine-shaft;
  overflow: hidden;
  position: relative;
}

.doodle-item__container {
  position: relative;
  transition: transform 500ms ease-in;
  will-change: transform;
}

.doodle-item__container_translate_default {
  transform: translateX(0);
  transition: transform 500ms ease-out;
}

.doodle-item__container_translate_left {
  transform: translateX(-100%);
  transition: transform 500ms ease-out;
}

.doodle-item__container_translate_right {
  transform: translateX(100%);
  transition: transform 500ms ease-out;
}

.doodle-item__container_position_abs {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.doodle-item__ribbon {
  border: 0;
  bottom: 85px;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: 1.1rem;
  padding: 1.2em;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  transition: box-shadow .2s ease-in;

  &:hover {
    box-shadow: 0 0 11px $black-with-alpha-35;
  }

  @include break-point(md) {
    font-size: .8rem;
  }

  @include break-point(sm) {
    margin: 0 auto;
    position: relative;
    text-align: center;
    bottom: 45px;
  }
}

.doodle-item__ribbon_theme_purple {
  background-color: $east-side;
}

.doodle-item__ribbon_theme_red {
  background-color: $carnation;
}

.doodle-item__ribbon_theme_lime {
  background-color: $mantis;
}

.doodle-item__ribbon_active {
  left: 0;
  right: auto; //fix for safari
}

.doodle-item__triangle {
  border-bottom: .7em solid transparent;
  border-left: .7em solid $white;
  border-top: .7em solid transparent;
  display: inline-block;
  height: 0;
  margin-bottom: -5px;
  margin-right: 5px;
  opacity: .45;
  transform: rotate(0deg);
  transition: transform 500ms ease-in;
  width: 0;
}

.doodle-item__triangle_rotate_180 {
  transform: rotate(180deg);
  transition: transform 500ms ease-out;
}

.doodle-item__triangle_first {
  margin-left: 20px;

  @include break-point(sm) {
    margin-left: 14px;
  }
}

.doodle-item__wrapper {
  display: flex;
  overflow: hidden;
  padding: 3.625em 4.5em 10.9375em;
  position: relative;

  @include break-point(md) {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  @include break-point(sm) {
    flex-direction: column;
    padding: 2em;
  }
}

.doodle-item__description {
  flex-basis: 50%;

  @include break-point(sm) {
    text-align: center;
    width: 100%;
  }
}

.doodle-item__list {
  padding-left: 1.5em;
  margin-bottom: 4em;

  @include break-point(md) {
    margin-bottom: 3em;
  }

  @include break-point(sm) {
    margin-bottom: 0;
  }
}

.doodle-item__list-item {
  list-style-type: disc;
  margin-bottom: .5em;

  @include break-point(lg) {
    font-size: .9rem;
    line-height: 1.6em;
  }

  @include break-point(md) {
    font-size: .9rem;
    line-height: 1.3em;
    text-align: left;
  }
}

.doodle-item__paragraph {
  line-height: 1.6;
  padding-right: 2em;

  @include break-point(lg) {
    font-size: .9rem;
  }

  @include break-point(md) {
    font-size: .8rem;
    padding-right: 1em;
  }

  @include break-point(sm) {
    font-size: .9rem;
    padding-right: 0;
    text-align: left;
  }
}

.doodle-item__images {
  align-items: center;
  display: flex;
  flex: 50%;
  justify-content: center;

  @include break-point(sm) {
    margin: 1em 3.5em 3em;
  }

  @include break-point(xs) {
    margin-left: 0;
    margin-right: 0;
  }
}

.doodle-item__header {
  color: $white;
  font-family: m-webfont;
  font-size: 1.6875rem;
  line-height: 1.9em;
  margin-bottom: 1em;

  @include break-point($header-hlg-max) {
    font-size: 1.5875rem;
  }

  @include break-point(lg) {
    font-size: 1.3875rem;
  }

  @include break-point(md) {
    font-size: 1.2875rem;
  }

  @include break-point(sm) {
    font-size: 1rem;
    text-align: center;
  }
}

.doodle-item__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include break-point(sm) {
    flex-basis: auto;
    height: 700px;
    overflow-y: scroll;
    padding: 2em 0;
    text-align: center;
  }

  @include break-point(xs) {
    height: 800px;
  }
}

.doodle-item__preview {
  flex: 0 1 23%;
  margin: .5em;
  transform: scale(1);
  transition: transform .2s ease-in;

  img {
    width: 100%;
  }

  @include break-point(sm) {
    flex-basis: auto;
  }

  &:hover {
    transform: scale(1.04);
  }
}

.doodle-item_theme_visual {
  background-color: $french-lilac;

  @include gradient-linear-generator(15%, 85%, $french-lilac, $east-side, 40deg);

  .doodle-item__slider {
    @include break-point(sm) {
      height: 600px;
    }
  }
}

.doodle-item_theme_ok {
  background-color: $rose-bud;

  @include gradient-linear-generator(0%, 100%, $rose-bud, $froly, 40deg);
}

.doodle-item_theme_simple-step {
  background-color: $caper;

 @include gradient-linear-generator(0%, 100%, $caper, $wild-willow, 40deg);

  & .no-wr {
    @include break-point(md) {
      white-space: normal;
    }
  }
}

.doodle-item__basic-btn {
  margin-top: 5.294em;

  @include break-point(sm) {
    margin-top: 2em;
  }
}

.doodle-item__price {
  margin-left: 200px;

  @include break-point(md) {
    margin-left: 100px;
  }

  @include break-point(sm) {
    display: block;
    margin: 1em auto;
  }
}
