footer {
  background: $amethyst;
  background: rgba($amethyst,.5) url("../images/footer-bg.jpg") no-repeat;
  background-size: cover;

  .footer-wrapper {
    background-color: $white;
    background-color: rgba($white,.5);

    .footer-wrapper-content {
      overflow: hidden;
      padding-bottom: 8.5em;
      text-align: center;

      h3 {
        font-family: $font-family-2;
        font-size: 1.25rem;
        text-align: center;
        margin: 3.55em 0 3.4em;
        color: #3b3b3e;
      }
    }

    form {
      @extend %clearfix;
      display: inline-block;
      text-align: left;
    }
  }

  .field-block {

    @include break-point(sm) {
      display: inline-block;
      margin-top: 1em;
    }

    @include break-point(xs) {
      display: block;
      width: 100%;
    }
  }

  .basic-btn {
    @include basic-btn($white,$plum,.8235em,1.3125em,$footer-btn-font);

    &:focus {
      outline: none;
    }

    @include break-point(sm){
      margin-top: 2.5em;
    }
  }
}