.header {
  
  @extend %clearfix;
  display: flex;
  box-shadow: 2px 2px 6px 0 rgba($black, .34);
  height: 130px;
  transition: height .5s ease-out;
  padding: 0 .625em;
  position: relative;
  z-index: 1;

  @include break-point(sm) {
    text-align: center;
    overflow: hidden;
    display: block;
  }

  .basic-btn {

    @include basic-btn($white,$cactus,.8235em,2.9375em);

    @include break-point(lg) {
      @include basic-btn($white,$cactus,.6235em,1.9375em);
    }

    @include break-point(sm) {
      @include basic-btn($white,$cactus,.8235em,2.9375em);
      margin: 2em 0;
    }
  }

  img {

    @include break-point(lg) {
      width: 70px;
    }

    @include break-point(sm) {
      width: 104px;
      margin: 2em 0;
    }
  }

  .float-r {

    @include break-point(sm) {
      float: none;
    }
  }

  .float-l {

    @include break-point(sm) {
      float: none;
    }
  }
}