.header {
  @extend %clearfix;

  box-shadow: 2px 2px 6px 0 rgba($black, .34);
  display: flex;
  height: 130px;
  padding: 0 .625em;
  position: relative;
  transition: height .5s ease-out;
  z-index: 1;

  @include break-point(sm) {
    display: block;
    overflow: hidden;
    text-align: center;
  }
}

.header__logo {
  @include break-point(sm) {
    margin: 2em 0;
  }
}

.header__telephones {
  margin-left: auto; 
  margin-right: 2.5em;  

  @include break-point($header-hlg-max) {
    margin-right: 2em;
  }

  @include break-point(lg) {
    margin-right: 1.5rem;
  }

  @include break-point(sm) {
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
  }
}

.header__hamburger-btn {
  display: none;
  position: absolute;
  top: 45px;

  @include break-point(sm) {
    align-self: left;
    display: block;
  }
}

.header__menu {
  padding: 0 .3125em;

  @include break-point(lg) {
    padding: 0;
  }
}

.header__basic-btn {
  @include break-point(sm) {
    margin: 2em 0;
  }
}
