.doodle-others-projects {
  padding: 4.375em 0;
  text-align: center;

  @include break-point(md) {
    padding: 2.375em 0;
  }
}

.doodle-others-projects__header {
  color: $cactus;
  font: 400 1.25rem $font-family-2;
  margin-bottom: 2.1em;
  margin-top: 0;
  text-align: center;

  @include break-point(md) {
    font-size: 1rem;
  }
}

.doodle-others-projects__item {
  width: 30%;

  @include break-point(sm) {
    margin-bottom: 2em;
    width: 80%;
  }
}
