.container {
  margin: 0 auto;
  max-width: 1370px;
  min-width: 320px;
  width: 100%;

  header & {
    align-items: center;
    display: flex;

    @include break-point(sm) {
      flex-direction: column;
    }
  }
}
