.contacts {
  color: $mine-shaft;
  display: inline-block;
  font-size: 1.325rem;
  margin-left: 3.2857em;
  margin-right: .9em;
  position: relative;
  top: -87px;


  @include break-point(480px) {
    display: block;
  }

  @include break-point(sm) {
    margin: 0;
    padding-top: 1em;
    top: 0;
  }

  @include break-point(md) {
    font-size: 1rem;
  }

  @include break-point(lg) {
    font-size: 1.125rem;
    margin-left: 0;
  }

  li {

    @include break-point(sm) {
      margin-bottom: .5em;
    }
  }
}
