
.doodle-quote {
  align-items: center;
  color: $cactus;
  display: flex;
  font-family: m-webfont;
  font-size: 1.25rem;
  height: 180px;
  justify-content: center;
  line-height: 2.2em;
  margin: 0;

  @include break-point(md) {
    font-size: 1rem;
    height: auto;

    &::after {
      content: '';
      display: block;
    }
  }
}

.doodle-quote__text {
  text-align: center;
  width: 70%;

  @include break-point(lg) {
    width: 90%;
  }
}

