.error {
  bottom: -2.6em;
  color: $radical-red;
  font-size: .8rem;
  opacity: 0;
  position: absolute;
  transition: opacity 1s linear;
}

@include break-point(sm) {

  [type='email']+span {
    bottom: -1.5em;
  }
}

.is-active-error {
  opacity: 1;
}
