.hamburger-btn {
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 0;
  height: 45px;
  overflow: hidden;
  text-indent: -9999px;
  transition: background .3s;
  width: 45px;

  &:focus {
    outline: none;
  }
}

.hamburger-btn__strokes {
  background: $sandal;
  display: block;
  height: 4px;
  left: 5px;
  position: absolute;
  right: 5px;
  top: 20px;
  transition: background 0s .3s;

  &::before,
  &::after {
    background-color: $sandal;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    transition-delay: .3s, 0s;
    transition-duration: .3s, .3s;
    width: 100%;
  }

  &::before {
    top: -10px;
    transition-property: top, transform;
  }

  &::after {
    bottom: -10px;
    transition-property: bottom, transform;
  }
}

.hamburger-btn_active {
  span {
    background: none;

    &::after,
    &::before {
      transition-delay: 0s, .3s;
    }

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}
