.menu__item {
  display: inline-block;
  margin-right: 1.625em;

  @include break-point(lg) {
    margin-right: 1.2em;
  }

  @include break-point(sm) {
    display: block;
    line-height: 1.9em;
    margin-right: 0;
  }
}

.menu__link {
  color: $sandal;
  font-size: 1.0625rem;
  font-weight: 500;
  text-decoration: none;

  @include break-point($header-hlg-max) {
    font-size: 1rem;
  }

  @include break-point(lg) {
    font-size: .9rem;
  }

  @include break-point(sm) {
    font-size: 1.0625rem;
  }

  &:hover {
    border-bottom: 2px $sandal solid;
    padding-bottom: 2px;
  }
}
