nav {
  overflow: hidden;
  padding: 0 .3125em;

  @include break-point(lg) {
    padding: 0;
  }

  li {

    display: inline-block;
    margin-right: 1.625em;

    a {

      @include break-point(sm) {
        display: block;
        font-size: 1.0625rem;
        text-transform: uppercase;
      }
    }

    @include break-point(lg) {
      margin-right: 1.2em;
    }

    @include break-point(sm) {
      display: block;
      line-height: 2.5em;
      margin-right: 0;
    }
  }
}