.doodle-item__ribbon {
  position: absolute;
  font-size: 1.1rem;
  height: 59px;
  right: 0;
  transition: all 500ms ease-in;
  bottom: 55px;
  color: $white;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 1.2em;
  display: block;
  border: 0;

  @include break-point(sm) {
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 55px;
  }
}

.clicked-ribbon {
   .doodle-item__ribbon {
     left: 0;
   }
}