.doodle-item__ribbon {
  border: 0;
  bottom: 55px;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: 1.1rem;
  height: 59px;
  padding: 0 1.2em;
  position: absolute;
  right: 0;
  text-transform: uppercase;

  @include break-point(sm) {
    margin: 55px auto 0;
    position: relative;
    text-align: center;
  }
}

.clicked-ribbon {

  .doodle-item__ribbon {
    left: 0;
  }
}
