.doodle-slider {
  background-color: $bianca;
  overflow: hidden;

  @include break-point(sm) {
    display: none;
  }

  .doodle-slider-wrapper {
    margin: 0 auto;
    max-width: 1366px;
    overflow: hidden;
  }

  .slick-list {
    z-index: 0;
  }

  .slick-next,
  .slick-prev {
    background-color: $gallery;
    height: 50px;
    transition: background-color .2s ease-in;
    width: 50px;
    z-index: 1;


    &:focus {
      background-color: $gallery;
      outline-style: auto;
    }

    &:hover {
      background-color: $black;

      &::before {
        border-color: $gallery;
      }
    }
  }

  .slick-next {
    right: 0;

    &::before {
      border-right: 4px solid $black;
      border-top: 4px solid $black;
      content: '';
      display: block;
      height: 50%;
      transform: rotate(45deg);
      transition: border-right border-left .2s ease-in;
      width: 50%;
    }
  }

  .slick-prev {
    left: 0;

    &::before {
      border-left: 4px solid $black;
      border-top: 4px solid $black;
      content: '';
      display: block;
      height: 50%;
      transform: rotate(-45deg) translate(50%, 50%);
      transition: border-right border-left .2s ease-in;
      width: 50%;
    }
  }
}


