.doodle-slider {
  background-color: $bianca;
  overflow: hidden;
  position: relative;

  .tns-gallery {
    min-height: 360px;

    @include break-point(lg) {
      max-height: 316px;
    }

    @include break-point(md) {
      max-height: 261px;
    }

    @include break-point(sm) {
      display: none;
    }
  }

  .tns-nav {
    display: none;
  }

  .tns-outer [data-controls="prev"],
  .tns-outer [data-controls="next"] {
    background-color: $gallery;
    font-size: 0;
    height: 50px;
    position: absolute;
    transition: background-color .2s ease-in;
    width: 50px;
    z-index: 1;

    &:focus {
      background-color: $gallery;
    }

    &:hover {
      background-color: $black;

      &::before {
        border-color: $gallery;
      }
    }
  }

  .tns-outer [data-controls="next"] {
    right: 0;
    margin-top: -25px;
    top: 50%;

    &::before {
      border-right: 4px solid $black;
      border-top: 4px solid $black;
      content: '';
      display: block;
      height: 50%;
      transform: rotate(45deg);
      transition: border-right border-left .2s ease-in;
      width: 50%;
    }
  }

  .tns-outer [data-controls="prev"] {
    left: 0;
    margin-top: -25px;
    top: 50%;

    &::before {
      border-left: 4px solid $black;
      border-top: 4px solid $black;
      content: '';
      display: block;
      height: 50%;
      transform: rotate(-45deg) translate(50%, 50%);
      transition: border-right border-left .2s ease-in;
      width: 50%;
    }
  }
}

.doodle-slider__wrapper {
  margin: 0 auto;
  max-width: 1366px;
  overflow: hidden;
}
