.telephones {
    color: $cactus;
    margin-right: 2.5em;
    font-size: 1.25rem;

    @include break-point($header-hlg-max) {
        font-size: 1.1rem;
        margin-right: 2em;
    }

    @include break-point(lg) {
        font-size: 1rem;
        margin-right: 1.5rem;
    }

    @include break-point(sm) {
        margin-right: 0;
        margin-bottom: 2em;
    }

    div {
        display: inline-block;
        line-height: 1.5em;
        vertical-align: middle;
        margin-top: -.25em;

        @include break-point($header-hlg-max) {
            margin-top: 0;
        }

        @include break-point(md) {
            display: none;
        }

        @include break-point(sm) {
            display: block;
        }
    }
}

.telephones-item {
    margin: auto .75em;

    @include break-point(lg) {
        margin: auto .5em;
    }
}