.triangle {
  transform: rotate(0deg);
  transition: transform 500ms ease-in;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #fff;
  opacity: .45;
  margin-bottom: -6px;
  margin-right: 5px;

  &.rotate {
    transition: transform 500ms ease-out;
    transform: rotate(180deg);
  }

  &:nth-child(1) {
    margin-left: 20px;
  }
}