
%valign {

  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%quote-text {
  height: 180px;
  color: $cactus;
  font-family: m-webfont;
  font-size: 1.25rem;
  line-height: 2.2em;
  text-align: center;
  margin: 0;
}

%doodle {
  padding: 3.625em 2.5em 8.9375em;
  position: relative;
  overflow: hidden;

  @include break-point(md) {
    padding-bottom: 15.9375em;
  }
}

%doodle-item-header {
  font-family: m-webfont;
  color: $white;
  font-size: 1.6875rem;
  line-height: 1.9em;
  margin-bottom: 1.5em;
}

%ribbon {
  position: absolute;
  width: 20.5em;
  padding-left: 1.2em;
  font-size: 1.25rem;
  height: 59px;
  line-height: 2.95em;
  right: 0;
  transition: all 500ms ease-in;
  bottom: 55px;

  @include break-point(sm) {
    margin: 0 auto;
    text-align: center;
    width: 15.5em;
    position: relative;
    margin-top: 55px;
  }
}

.active {
  height: auto;
  overflow: auto;
}

.no-wr {
  white-space: nowrap;

  @include break-point(sm) {
    white-space: normal;
  }
}