
%valign {

  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%doodle-item-header {
  font-family: m-webfont;
  color: $white;
  font-size: 1.6875rem;
  line-height: 1.9em;
  margin-bottom: 1.5em;
}

.active {
  height: auto;
  overflow: auto;
}

.no-wr {
  white-space: nowrap;

  @include break-point(sm) {
    white-space: normal;
  }
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}