
%valign {

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

%clearfix {

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.svg-path {
  animation: dash 5s linear forwards;
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

.active {
  height: auto;
  overflow: auto;
}

.no-wr {
  white-space: nowrap;

  @include break-point(sm) {
    white-space: normal;
  }
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.hide-right {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1s, opacity 1.5s;
}

.hide-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s, opacity 1.5s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}
