//colors  var

$black: #000;
$sandal: #a9916a;
$bianca: #fbfcf5;
$cactus: #596952;
$white: #fff;
$thunder: #231f20;
$mine-shaft: #232323;
$tuna: #3b3b3e;
$light-wisteria: #dface0;
$sweet-pink: #fca1ad;
$feijoa: #badd90;
$tom-thumb: #46543a;
$amethyst: #b24fc3;
$east-side: #c376c4;
$radical-red: #f9334a;
$carnation: #f6616f;
$atlantis: #6fc72a;
$mantis: #90c05f;
$plum: #92278f;
$fuchsia-pink: #c65ac4;
$coral-red: #f93349;
$french-lilac: #e4b7e5;
$froly: #f77f89;
$rose-bud: #fba9b4;
$caper: #cae7a6;
$wild-willow: #a1cb7b;
$gallery: #ebebeb;
$ecru-white: #f7f7ed;
$outline-color: rgb(59, 153, 252);
$highlight-color: rgba(0,0,0,0);

//fonts

$font-size-base: 16px;
$font-family-1: 'Roboto', Arial, sans-serif;
$font-family-2: 'm-webfont';
$footer-btn-font: 15px;

//breakpoints

$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;
$screen-xs-min: 480px;
$header-hlg-max: 1289px;
